<div class="main">
    <div class="navigation" [ngClass]="{ 'scrolled': isScrolled }">
        <div class="logo">
            <img src="/assets/upworkk.png">
    
        </div>
        <div class="nav">
            <ul>
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/about">About</a></li>
                <li><a routerLink="/faqs">Faqs</a></li>
                <li><a routerLink="/testimonials">Testimonials</a></li>
            </ul>
    
        </div>
        <div class="login">
            <a routerLink="/signin">Login now</a>
    
        </div>
    </div>
  
    <div class="ultraFeatures">
        <div class="ultraMessage">
            <h2>What our Users Say</h2>
            <p>Discover why writers and clients alike choose Upwork Freelance Writers for their<br>
                 creative endeavors. Read what our valued users have to say about their<br> experiences:</p>
        </div>
       
    </div>

    <div class="writers">
        <div class="writer">
            <div class="message">
                <p>The seamless registration process, coupled with the quick and fair rating system, makes Upwork Freelance Writers stand out. The platform empowers me to showcase my skills and secure rewarding projects. It's a win-win for both writers and clients."</p>

            </div>
            <div class="aboutWriter">
                <div class="image">
                    <img src="/assets/alex.png">
                </div>
                <div class="details">
                    <h4> — Alex Martinez, Copywriter</h4>
                    <p>- Upwork Freelance Writer</p>
                </div>
               
            </div>

        </div>

        <div class="writer">
            <div class="message">
                <p>I've tried various freelance platforms, but Upwork Freelance Writers truly understands the needs of writers. The diverse range of writing jobs, coupled with the 24/7 support and continuous improvement opportunities, sets it apart. It's now my go-to platform for all my freelancing needs."</p>

            </div>
            <div class="aboutWriter">
                <div class="image">
                    <img src="/assets/upworkk.png">
                </div>
                <div class="details">
                    <h4> — Emily Johnson, Travel Writer</h4>
                    <p>- Upwork Freelance Writer</p>
                </div>
               
            </div>

        </div>

        <div class="writer">
            <div class="message">
                <p>The training sessions via Google Meeting have been a game-changer for my writing skills. The platform not only connects me with writing gigs but also invests in my professional development. The 24/7 support is the icing on the cake - Upwork Freelance Writers truly cares."</p>

            </div>
            <div class="aboutWriter">
                <div class="image">
                    <img src="/assets/daniel.png">
                </div>
                <div class="details">
                    <h4> — Daniel Walker, Technical Writer</h4>
                    <p>- Upwork Freelance Writer</p>
                </div>
               
            </div>

        </div>

        <div class="writer">
            <div class="message">
                <p>" Upwork Freelance Writers has been a game-changer for me. The platform not only connects me with diverse and exciting writing opportunities but also provides a supportive community of fellow writers. I've seen a significant boost in my income and career growth since joining."</p>

            </div>
            <div class="aboutWriter">
                <div class="image">
                    <img src="/assets/sarah.png">
                </div>
                <div class="details">
                    <h4> —  Sarah Thompson, Content Writer</h4>
                    <p>- Upwork Freelance Writer</p>
                </div>
               
            </div>

        </div>
      
    </div>
    <app-footer></app-footer>

</div>