<div class="main">
    <div class="navigation" [ngClass]="{ 'scrolled': isScrolled }">
        <div class="logo">
            <img src="/assets/upworkk.png">
    
        </div>
        <div class="nav">
            <ul>
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/about">About</a></li>
                <li><a routerLink="/faqs">Faqs</a></li>
                <li><a routerLink="/testimonials">Testimonials</a></li>
            </ul>
    
        </div>
        <div class="login">
            <a routerLink="/signin">Login now</a>
    
        </div>
    </div>
    <div class="content">
        <h3>WELCOME TO UPWORK FREELANCE WRITERS</h3>
        <P>Home
            Experience the freedom to work on your terms, the thrill of connecting with<br>
            global clients, and the joy of seeing your creativity come to life. Join us, and let's <br>
            redefine the future of content creation together. Welcome to Upwork Freelance<br>
            Writers - Where Your Words Open Doors to Global Excellence!</P>
    </div>
    <div class="features">
        <div class="feature">
            <img src="assets/globe.png" alt="feature1">
            <h4>GLOBAL CONNECTION</h4>
            <p>At Upwork Freelance Writers, we connect <br> you with a pool of creative professionals<br>,
                ensuring that you find the perfect match for <br> your content needs. No more missed<br>
                deadlines - our efficient platform<br> guarantees swift delivery, saving you time <br>
                and allowing you to focus on your most crucial tasks.t</p>
        </div>
        <div class="feature">
            <img src="assets/support.png" alt="feature1">
            <h4>24/7 support</h4>
            <p>Feel supported around the clock with our <br>dedicated 24/7 support team. Have <br>
                questions or need assistance? We're here to <br>help, ensuring your Upwork Freelance<br>
                Writers experience is seamless and <br>rewarding.</p>
        </div>
        <div class="feature">
            <img src="assets/googlemeet.png" alt="feature1">
            <h4>Virtual trainings</h4>
            <p>We offer online training sessions via Google<br> Meeting, ensuring you stay updated with<br>
                the latest writing techniques and industry<br> trends. Enhance your skills and take your<br>
                writing to the next level.</p>
        </div>
        <div class="feature">
            <img src="assets/income.png" alt="feature1">
            <h4>Earn as You Write</h4>
            <p>Begin your journey by registering with<br> Upwork Freelance Writers. Submit a short<br>
                writing sample, and our seasoned editors<br> will assign you an initial author rating<br>
                within days. Your rating reflects your <br>content quality and determines your <br>
                payment rates for OpenOrders.</p>
        </div>
        <div class="feature">
            <img src="assets/easy.png" alt="feature1">
            <h4>Simplicity</h4>
            <p>- Register and verify your account.<br>
                - Submit a writing sample.<br>
                - Let us review your content quality.<br>
                - Your author rating unlocks access to our<br> array of OpenOrders.<br>
                - Choose a project, and start making money writing articles.</p>
        </div>
        <div class="feature">
            <img src="assets/how.png" alt="feature1">
            <h4>How it works</h4>
            <p>- Register and verify your account.<br>
                - Submit a writing sample on a topic of your <br>choice.<br>
                - Get your initial author rating (3 to 5 stars)<br> from our experienced editors.<br>
                - Complete your author profile.<br>
                - Start writing for cash and watch your <br>earnings grow.</p>
        </div>
    </div>

    <div class="ultraFeatures">
        <div class="ultraMessage">
            <h3>Ultra Features</h3>
            <p>At Upwork Freelance Writers, we offer a diverse range of writing jobs that cater<br>
                to various interests and skill sets. Unleash your creativity, work from the comfort<br>
                of your home, and connect with clients worldwide. Here's a glimpse into the<br>
                exciting writing opportunities awaiting you: Explore Exciting Writing <br>
                Opportunities with Upwork Freelance Writers!</p>
        </div>

        <div class="jobs">
            <div class="job">
                <div class="circle">
                    <span class="text">Uf.</span>
                </div>
                <div class="description">
                    <h4>Content Writing Jobs</h4>
                    <p>Meet the rising demand for content globally. Collaborate with
                         clients worldwide to fill their websites with engaging and fresh content.</p>
                </div>
            </div>
            <div class="job">
                <div class="circle">
                    <span class="text">Uf.</span>
                </div>
                <div class="description">
                    <h4>Blogging Jobs</h4>
                    <p>Write engaging blogs on various topics. Share your passion on subjects that interest you and get paid for it.</p>
                </div>
            </div>
            <div class="job">
                <div class="circle">
                    <span class="text">Uf.</span>
                </div>
                <div class="description">
                    <h4>Copywriting Jobs</h4>
                    <p>Provide brands with a competitive edge. Craft compelling 
                        marketing material that inspires and informs customers.</p>
                </div>
            </div>
            <div class="job">
                <div class="circle">
                    <span class="text">Uf.</span>
                </div>
                <div class="description">
                    <h4>Article Writing Jobs</h4>
                    <p>Utilize your research skills to present information engagingly. Gather information from various sources and create compelling articles.</p>
                </div>
            </div>
            <div class="job">
                <div class="circle">
                    <span class="text">Uf.</span>
                </div>
                <div class="description">
                    <h4>Technical Writer Jobs</h4>
                    <p>Simplify complex topics and create user-friendly instructions. Collaborate with clients to design and develop technical documents.</p>
                </div>
            </div>
            <div class="job">
                <div class="circle">
                    <span class="text">Uf.</span>
                </div>
                <div class="description">
                    <h4>Travel Writer Jobs</h4>
                    <p>Combine your love for travel with writing. Share your adventures in exotic places, restaurants, and hotspots.</p>
                </div>
            </div>
            <div class="job">
                <div class="circle">
                    <span class="text">Uf.</span>
                </div>
                <div class="description">
                    <h4>Academic Writing Jobs</h4>
                    <p>Express ideas in a focused and concise manner. Help clients convey their points clearly and thoroughly.</p>
                </div>
            </div>
            <div class="job">
                <div class="circle">
                    <span class="text">Uf.</span>
                </div>
                <div class="description">
                    <h4>Game Writing Jobs</h4>
                    <p>Combine your love for gaming with writing skills. Cover everything from top AAA games to the latest gadgets in the ever-evolving gaming industry.</p>
                </div>
            </div>
            <div class="job">
                <div class="circle">
                    <span class="text">Uf.</span>
                </div>
                <div class="description">
                    <h4>Sports Writing Jobs</h4>
                    <p>Showcase your sports knowledge. Write engaging and informative coverage of the latest sports events globally.</p>
                </div>
            </div>
            <div class="job">
                <div class="circle">
                    <span class="text">Uf.</span>
                </div>
                <div class="description">
                    <h4>Comedy Writing Jobs</h4>
                    <p>Leverage your sense of humor, creativity, and improvisation. Add a touch of comedy to a variety of works, from website copy to blogs and podcasts.</p>
                </div>
            </div>
            <div class="job">
                <div class="circle">
                    <span class="text">Uf.</span>
                </div>
                <div class="description">
                    <h4>Resume Writer Jobs</h4>
                    <p>Assist job seekers in crafting tailored resumes. Help them stand out and land their dream jobs.</p>
                </div>
            </div>
          
        </div>

        <div class="onboard">
            <a routerLink="/signin">Get Onboard Now!  <i class="fa-solid fa-arrow-right"></i></a>
        </div>
       
    </div>
    <app-footer></app-footer>

</div>