<div class="navigation" [ngClass]="{ 'scrolled': isScrolled }">
    <div class="logo">
        <img src="/assets/upworkk.png">

    </div>
    <div class="nav">
        <ul>
            <li><a routerLink="/home" style="color: white;">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/faqs">Faqs</a></li>
            <li><a routerLink="/testimonials">Testimonials</a></li>
        </ul>

    </div>
    <div class="login">
        <a routerLink="/signin">Login now</a>

    </div>
</div>