<div class="navigation" [ngClass]="{ 'scrolled': isScrolled }">
    <div class="logo">
        <img src="/assets/upworkk.png">

    </div>
    <div class="nav">
        <ul>
            <li><a routerLink="/home" style="color: white;">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/faqs">Faqs</a></li>
            <li><a routerLink="/testimonials">Testimonials</a></li>
        </ul>

    </div>
    <div class="login">
        <a routerLink="/signin">Login now</a>
        <i class="fa-solid fa-bars"></i>
    </div>
    <div class="loginn">
        <i class="fa-solid fa-bars"></i>
    </div>
</div>

<div class="content">
    <div class="message">
        <div class="heading">
            <h1>WORK FROM HOME AND <br>CONNECT TO THE GLOBAL<br> WORLD</h1>

        </div>
        <div class="words">
            <p>Are you ready to redefine your workspace, embrace the freedom of working <br>
                from home, and tap into the vast opportunities of the global marketplace?<br>
                Welcome to Upwork Freelance Writers, where we empower you to deliver<br>
                the right content and thrive in the dynamic world of freelancing.</p>

        </div>
        <div class="join">
            <a routerLink="/signin">Join Us Now</a>

        </div>
    </div>
    <div class="pic">
        <img src="/assets/writers.png">

    </div>
</div>
<div class="part">
    <div class="pics">
        <img src="/assets/OIP.jpg">
        <img src="/assets/yellow.jpg">
        <img src="/assets/board.jpg">
        <img src="/assets/write.jpg">
    </div>
</div>
<div class="question">
    <div class="ask">
        <h2>Have any Questions ?</h2>
        <p>Please fill out the following form and we will get back to you shortly</p>

    </div>
    <div class="reach">
        <div class="reachSection">
            <img src="/assets/smartphone.png">
            <p>phone</p>
            <a href="tel:07000000000">Click to Reach Us</a>
        </div>
        <div class="reachSection">
            <img src="/assets/telegram.png">
            <p>Telegram</p>
            <a href="tel:07000000000">Click to Join Us</a>
        </div>
        <div class="reachSection">
            <img src="/assets/email.png">
            <p>Email</p>
            <a href="tel:07000000000">Click to Email Us</a>
        </div>
        <div class="reachSection">
            <img src="/assets/whatsapp.png">
            <p>Whatsapp</p>
            <a href="tel:07000000000">Click to Whatsapp Us</a>
        </div>

    </div>
    <div class="contact">
        <div class="contactForm">
            <div class="form-row">
                <label for="name">Name</label>
                <label for="email">Email</label>
            </div>
            <div class="form-row">
                <input type="text" id="name" placeholder="Enter your name...">
                <input type="text" id="email" placeholder="Enter your email...">
            </div>
            <label for="subject">Subject</label>
            <input type="text" id="subject" placeholder="Enter Subject...">
            <label for="subject">Message</label>
            <textarea name="Enter your message" id="" rows="5" placeholder="Enter your message..."></textarea>
            <input type="submit" value="Send Message" class="submit-button">

        </div>

    </div>

    <div class="curve">

    </div>
</div>

<div class="curveMessage">
    <h2>We also customize the theme as per your needs</h2>
    <div class="envelope">
        <i class="fa-regular fa-envelope"></i>
        <p> Contact Us </p>
    </div>
</div>

<div class="footer">
    <div class="topFooter">
        <div class="logo">
            <img src="/assets/upworkk.png">
            <h4>UPWORK FREELANCE WRITERS</h4>
            <P>Ubold is a fully featured premium admin <br>
                template built on top of awesome Bootstrap 5<br>,
                modern web technology HTML5, CSS3 and <br>
                jQuery.</P>

        </div>
        <div class="about">
            <p style="color: white;">About</p>
            <p> <i class="fa-solid fa-angle-right"></i>&nbsp;&nbsp;&nbsp; <a routerLink="/about">About</a></p>
            <p> <i class="fa-solid fa-angle-right"></i>&nbsp;&nbsp;&nbsp; <a routerLink="/faq">Faq</a></p>
            <p> <i class="fa-solid fa-angle-right"></i>&nbsp;&nbsp;&nbsp; <a routerLink="/testimonials">Testimonials</a>
            </p>
        </div>
        <div class="social">
            <p style="color: white;">Social</p>
            <p> <i class="fa-solid fa-angle-right"></i>&nbsp;&nbsp;&nbsp; <a routerLink="/about">Telegram</a></p>
            <p> <i class="fa-solid fa-angle-right"></i>&nbsp;&nbsp;&nbsp; <a routerLink="/about">Whatsapp</a></p>
            <p> <i class="fa-solid fa-angle-right"></i>&nbsp;&nbsp;&nbsp; <a routerLink="/about">Email</a></p>

        </div>

    </div>
    <div class="bottomFooter">
        <h4>2024 © UPWORK FREELANCE WRITERS</h4>
        <p class="sociall">Social : <i class="fab fa-telegram"></i> <i class="fab fa-whatsapp"></i></p>

    </div>
</div>